/* FOR BUTTON */
.btn {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-weight: bold !important;
}

/*********************************/

/* FOR TABLE */

tr {
	font-size: 20px;
}

th {
	font-size: 40px;
}

td {
	width: 30%;
}

input {
	width: 80%;
}
/*********************************/

/* FOR HEADER */
header {
	width: 100%;
	top: 0;
	padding: 25px;
	position: fixed;
	z-index: 1000;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 20px;
	background-color: rgba(126,212,62,0.69);
}

#header-logo {
	width: 250px;
}

.site-nav {
	position: relative;
	display: block !important;
	float: right;
}

.site-nav ul {
	list-style-image: none;
	text-align: right;
}

.site-nav ul li {
	display: inline-block;
}
/******************************************************/

.contener-div {
	width: 100%;
	height: 100%;	
}

/* 1st SECTION */

.header-sec {
	width: 100%;
	height: 300px;
	background-image: url(../image/background-learning.png);
	background-size:     cover;                     
    background-repeat:   no-repeat;
    background-position: center center;
	padding-left: 10%;
	padding-right: 10%;
}

/******************************************************/


/* 2nd SECTION */

#chapter-inside-div {
	background-color: rgba(255,255,255,0.69);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 40px;
	padding-left: 10px;
	height: 65px;
	margin-bottom: 20px;
}


.info1-sec {
	height: auto;	
	padding-left: 10%;
	padding-right: 10%;	
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: rgba(231,231,231,1.00);
}

#info1-div {
	background-color: yellowgreen;
	width: 100%;
	height: 100%;
	padding: 1% 1% 1% 1%;
}

.selection {
	height: auto;
	width: 100%;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	font-size: 30px;
	border: groove;
	
}

.selection-div {
	width: 25%;
	height: auto;
	padding: 20px 20px 20px 20px;
	background-color: rgba(96,142,4,1.00);
}

#edit-div {
	width: 100%;
	height: 100%;
	padding: 1% 10% 1% 1%;
	margin-top: 1%;
	background-color: rgba(243,243,243,1.00);
}



/* FOR FANCY */

/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 1000px;
  width: 100% !important;
  background-color: #F7F7F7;
}


.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

/*************************************/

/* FOR FOOTER */


.footer-sec {
	background-color: rgba(139,219,68,1.00);
	height: 500px;
	text-align: center;
	padding-top: 100px
}

/******************************************************/


